* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: oswald, sans-serif;
}

html 
{
	font-size: 62.5%;
	size: 62.5%;
}

/* /////////////Grid-Layout(mobilefirst)/////////// */

.contenedor--displaygrid{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "botonera" "encabezado" "main" "pie";
}

.botonera{
	grid-area: botonera;
}

.encabezado{
	grid-area: encabezado;
}

.main{
	grid-area: main;
}

.pie{
	grid-area: pie;
}
/* ////////////////////////////////////////////////// */

/*--------------Diseño De Nav y banner--------------*/

.header{
margin-bottom:-0.3rem;
}

.nav {
	background-color: #000;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: -0.3rem;
}

.nav__logo--size {
	width: 20rem;
	height: 5rem;
	margin: 1rem auto 0 auto;
}

.nav__ul {
	display: flex;
}

.nav__ul li {
	list-style: none;
	margin: 1rem 2.5rem;
}

.nav__ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 600;
}

.nav__ul li a:hover {
	color: rgb(240,69,69);
	transition: 0.7s;
}

.header__banner--width {
	width: 100%;
	height: auto;
}
/*--------------Imagen de Fondo--------------*/

body {
	background-image: url(../img/mosaiko.jpg);
}

/*--------------INDEX--------------*/

main {
	background: #E8E8E8;
	padding-bottom: 2.5rem;
}


.section {
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

/*---------------------------historia.............................. */

.section__historia {
	text-align: center;
	font-weight:600;
	font-size: 2.5rem;
	color:#000;
}

.section-historia--flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section__historia--paddingtexto {
	padding-bottom: 2.5rem;
}

/* ------------------------- discos --------------------------------------- */

.discos {
	text-align: center;
	font-weight:600;
	font-size: 1.8rem; 
}

.discos__texto {
	margin-bottom: 2.5rem;
}

.discos__img--margin {
	margin-right: auto;
	margin-left:auto;
}

.discos__imgs--flex {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

.discos__img--size {
	width: 27rem;
	height: auto;
	border-radius: 0.8rem;
	box-shadow: 0.5rem 0.8rem 1.2rem #000;
	margin: 0.4rem 0.4rem; 
}


/* ------------------------------------ESTUDIOS-------------------------------- */

.estudios__banner{
	width:100%;
	height: auto;
}

.estudios {
	width:90%;
	height: auto;
	margin:auto;
	font-size: 2.5rem;
	font-weight: 600;
}

.estudios__txt {
	background: #ADADAD
}

.estudios__h1 {
	text-align: center;
	font-size: 3.5rem;
}

.estudios__text {
	text-align: center;
}

.estudios__estudio-a--textaling {
	text-align: center;
	padding-bottom: 2rem;
}

.estudios__textos {
	margin-bottom: 2.5rem;
}

.estudioa__img {
	margin-left: 2.4rem;
	width:25rem;
	height: auto;
	border-radius: 0.5rem;
}

.estudios__img{
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

.estudiob {
	text-align: center;
}

.estudiob__texto {
	padding-bottom: 2.5rem;
}

.estudiob__img {
	width:25rem;
	height:auto; 
	margin-left:2.4rem;
	border-radius: 0.5rem;
}

/* ------------------Equipamento------------------ */
.equipamento {
	width:90%;
	height: auto;
	margin:auto;
	font-size: 2.4rem;
	font-weight: 600;

}

.equipamento h1 {
	padding-top: 2.5rem;
	text-align: center;
}

.equipamento__texto {
	padding-top: 2rem;
}

.equipamento__texto2{
	margin-bottom: 2.5rem;
	text-align:center;
}

.equipamento__lista {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.equipamento__texto3{
	text-align: center;
}

.equipamento-div {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.equipamento-div__img {
	width: 40rem;
	height: auto;
	margin: 1rem 1rem;
	border-radius: 0.5rem;
}

/* --------------------PRODUCTORES--------------- */
 h1 {
 	font-size:2.4rem ;
 	text-align: center;
 	padding-top:2.5rem;
 	padding-bottom:3rem;
 }
.productores {
	font-size: 2rem;
	width: 95%;
	margin-right: auto;
	margin-left:auto;
	height:auto;
}

.productores__card {
	background:#393939;
	border-radius: 5rem;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productores-card--text {
	text-align: center;
	align-items: center;
	color: #ffffff
}

.productores__card-img {
	width: 27rem;
	height:auto;
	border-radius:50%;
	margin: 2rem 2rem;
}

.productores__card-2{
	background: #393939;
	border-radius: 5rem;
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.productores__card-2-img {
	width: 27rem;
	height:auto;
	border-radius:50%;
	margin: 2rem 2rem;
}

.productores-card--text2 {
	text-align: center;
	align-items: center;
	color: #ffffff;
	margin-left:3.5rem;
}

.productores__card-3 {
	background: #393939;
	border-radius: 5rem;
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.productores__card-3-img {
	width: 27rem;
	height:50%;
	border-radius:36.0rem;
	margin: 2rem 2rem;
}

.productores-card--text3 {
	text-align: center;
	align-items: center;
	color: #ffffff;
	margin-left:3.5rem;
}

/* --------CONTACTANOS-------------- */

.contactanos {
	width: 100%;
	height: auto;
	font-size: 1.8rem;
	text-align: center;
}

.contactanos__div {
	width: 90%;
	height: auto;
	background: #393939;
	border-radius:1rem;
	color: #ffffff;
	margin-bottom: 2.5rem;
	margin-left: auto;
	margin-right: auto;
}

.flex__container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contact__img {
	margin:auto;
	width: 30rem;
	height: auto;

}

.form__input{
	width: 50rem;
	height: 5rem;
	margin: 1rem 0;
	border:none;
	border-bottom: 0.3rem solid rgb(240,69,69);
	background: transparent;
	color: #fff;
	font-weight: bold;
}

.form__input:focus{
	background: linear-gradient(to bottom, transparent, #222);
	outline:none;
	border-bottom: 0.3rem solid rgb(240,135,135);
}
.form__input1{
	width: 30rem;
	height: 5rem;
	margin: 1rem 0;
	border:none;
	background: rgb(240,69,69);
	font-weight: bold;
	color:#fff;
}

.form__input1:hover{
	background: rgb(240,55,55);
	transition: 0.5s;
}

.textarea{
	min-width: 30rem;
	min-height: 30rem;
	resize: none;
}



.mapa {
	width: 90%;
	height: auto;
	background: #393939;
	border-radius:1rem;
	margin: 2.5rem 50rem 2.5rem 50rem;
	color: #ffffff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

iframe{
	border-radius: 0.5rem;
	margin:1rem 1rem;
	width: 50rem;
	height: 50rem;

}


/*--------------Diseño Footer---------------*/
.footer {
	background: rgba(0,0,0, 0.8);
	text-align: center;
	width:100%;
	padding: 3rem;
}

.footer img {
	width: 5rem;
	height: auto;
	padding-top: 1rem;
}

.footer__img--padding {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.footer__texto--color {
	color: #ffffff;
	font-size:1.5;
	font-weight: 500;
}

.footer__imgs--flex{
	display: flex;
	justify-content: center;
}

/*/////////////////////////////MediaQuery////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 768px) {
	/* Nav */
	.contenedor--displaygrid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "botonera botonera" "encabezado encabezado" "main main" "pie pie";
	}

	/* index */
	.discos__img--size{
		width: 33rem;
		height:auto;
	}
	/* estudios */
	.estudioa__img{
		width: 31rem;
		height:auto;
	}
	.estudiob__img{
		width: 31rem;
		height:auto;
	}
	/* Equipamento */
	.equipamento-div__img{
		width:50rem;
		height: auto;
	}

	/* Productores */

	.productores__card{
		flex-direction: row;
	}

	.productores__card-2{
		flex-direction: row;
	}
	.productores__card-3{
		flex-direction: row;
	}

	.productores__card-img{
		width: 35rem;
		height: auto;
	}
	.productores__card-2-img{
		width: 35rem;
		height: auto;
	}
	.productores__card-3-img{
		width: 35rem;
		height: auto;
	}


}

@media only screen and (min-width: 1200px) {

	.contenedor--displaygrid{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "botonera botonera botonera" "encabezado encabezado encabezado" "main main main" "pie pie pie";
	}

	.nav{
		flex-direction: row;
		justify-content: space-between;
	}

	.nav__ul li {
		margin-right: 5rem;
	}

	.nav__logo--size {
    	margin: 1rem 7.2rem;
    }
		/*INDEX  */
	.discos__img--size{
		width: 50rem;
		height:auto;
	}

		/* estudios */
	.estudioa__img{
		width: 51rem;
		height:auto;
	}
	.estudiob__img{
		width: 51rem;
		height:auto;
	}

	/* equipamento */
	.equipamento-div{
		flex-direction: row;
	}

	/* Contactanos */

	.contactanos__div{
		width: 60%;
		height:auto;
	}

	.mapa{
		width: 60%;
		height:auto;
	}

@media only screen and (min-width: 1621px) {
	.estudioa__img{
		width: 70rem;
		height:auto;
	}
	.estudiob__img{
		width: 70rem;
		height:auto;
	}
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */