//BgColors
$bgColornav:#000;
$bgColor2:#E8E8E8;
$bgColor3:#393939;
$bgCfooter:#222;

//colors
$colorB:#000;
$colorRp:rgb(255,69,69);
$colorR:rgb(255,44,44);
$btnNav:#fff;
$btnNavh:rgb(255,69,69);

//Textos
$fontSize:1em;
$fontSize1:1.1em;
$fontSize2:1.2em;
$fontSize3:1.5em;
$fontSize4:1.8;
$fontSize5:2em;
$fontSize6:2.5em;